<!DOCTYPE html>
<html>
  <head>
    <title><%=  %></title>
    <%- include('./common/imports'); -%>
  </head>
  <body>
    <%- include('./common/navbar'); -%>
    <div class="container">
      <div class="row">
        <div class="post-detail">
            <img src="/images/<%= project.image %>" />
            <h1><%= project.name %></h1>
            <p><%= project.subject %></p>
            <p><%= project.description %></p>
        </div>
      </div>
    </div>
  </body>
</html>
