<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%- include('../../common/imports'); -%>
  </head>
  <body>
    <%- include('../../common/navbar'); -%>
    <div class="container">
        <div class="row">
            <h1>Administração de posts</h1>
        </div>
        <div class="row mb-2">
            <a href="/admin/posts/create" class="btn btn-success">Novo Post</a>
        </div>
        <div class="row">
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">id</th>
                        <th scope="col">title</th>
                        <th scope="col">image</th>
                        <th scope="col">description</th>
                        <th scope="col">body</th>

                    </tr>
                </thead>
                <tbody>
                    <% posts.forEach((post) => { %>
                        <tr>
                        <th scope="row">1</th>
                        <td><%= post.id %></td>
                        <td><%= post.title %></td>
                        <td><%= post.image %></td>
                        <td><%= post.description %></td>
                        <td><%= post.body %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
  </body>
</html>
